<h4>电影详情录入</h4>
<div id="movieform">
<input type="text" name="movieName" placeholder="电影名称 (Name)">
<input type="text" name="movieLen" placeholder="时长-分钟 (Length)">
<input type="text" name="movieLang" placeholder="语言 (Language)">
<input type="text" name="movieTypes" placeholder="电影题材 (如: 动作 喜剧 爱情) 用空格分隔" maxlength="50">
<input id="datepicker-manager-2" placeholder="首映日期 (Premiere)">
<input id="datepicker-manager-3" placeholder="下映日期 (End Date)">
<button onclick="filledMovieForm()">提交录入</button>
</div>